<h1><small> Obituaries Page</small></h1>
<table class="table">
  <thead>
    <div class="row">
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </div>
  </thead>
  <% @obituaries.each do |obituary| %>
    <tr>
      <td><%= image_tag obituary.image.url(:thumb) %></td>
      <td><%= obituary.name %></td>
      <td><%= obituary.born_date.strftime('%B %d, %Y') %> - <%= obituary.death_date.strftime('%B %d, %Y') %></td>
    </tr>
  <% end %>
</table>
