<h2> Locations:</h2>
<p>St. George (435)673-2454</p>
<p>Hurricane (435)635-2212</p>
<hr>

<p>
Spilsbury Mortuary stands majestic against the desert sandstone cliffs of St. George, Utah. A place of genuine caring and compassion, its serene setting of inspiring beauty provides an elegant backdrop for all types of memorial services.
</p>

<p>
Spilsbury Mortuary is a trusted name in the funeral industry. We are known for giving personalized attention to each family that we have the opportunity to serve. Our staff carries out every detail of your wishes with care and compassion. You can be confident that every aspect of a service will be directed with a warm combination of friendship, dignity, and excellence.
</p>

<p>
We offer an environment where families from all religious denominations and walks of life may select their preferences from a wide range of services and options.
</p>
