<h1>Listing guestbooks</h1>

<table>
  <thead>
    <tr>
      <th>Obituary</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @guestbooks.each do |guestbook| %>
      <tr>
        <td><%= link_to guestbook.obituary.name, admin_guestbook_path(guestbook) %></td>
        <td><%= link_to 'Show', admin_guestbook_path(guestbook) %></td>
        <td><%= link_to 'Edit', edit_admin_guestbook_path(guestbook) %></td>
        <td><%= link_to 'Destroy', admin_guestbook_path(guestbook), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
