<p id="notice"><%= notice %></p>

<p>
  <strong>Obituary:</strong>
  <%= @guestbook.obituary_id %>
</p>

<%= link_to 'Edit', edit_guestbook_path(@guestbook) %> |
<%= link_to 'Back', guestbooks_path %>
